.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}
.active {
    background-color: aquamarine;
}

.App li button {
    margin-left: 20px;
}
.error {
    border: 2px solid red;
    outline: transparent;
}
.error-message {
    color: red;
}
.is-done {
    opacity: 0.5;
    text-decoration: line-through;
}